/* line 1, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 6, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.clearfix:after {
  clear: both;
}

/* line 9, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 12, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.pull_left {
  float: left;
}

/* line 15, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.pull_right {
  float: right;
}

/* line 18, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.text_left {
  text-align: left;
}

/* line 21, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.text_right {
  text-align: right;
}

/* line 24, /home/arsen/www/bk/app/assets/stylesheets/defaults.scss */
.text_center {
  text-align: center;
}
