/* line 1, /home/arsen/www/bk/app/assets/stylesheets/ie6.css.scss */
img, div, a {
  behavior: url("/iepngfix.htc");
}

/* line 7, /home/arsen/www/bk/app/assets/stylesheets/ie6.css.scss */
.header .top_menu a.icon_menu {
  background-position: 24px 6px;
}

/* line 14, /home/arsen/www/bk/app/assets/stylesheets/ie6.css.scss */
.our_mission p {
  margin: 15px 0 14px;
}
