@import 'normalize.css';
@import 'variables.scss';
@import 'defaults.scss';
@import 'fonts.scss';

body {
	color: $text_gray;
}

a {
	text-decoration: none;
	color: $text_gray;
}

h1, h2, h3, h4, h5, h6 {
	@include font_roboto;
	font-weight: 300;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

form {
	@include font_ptsans;
	label,
	.field_wrap {
		clear: both;
		font-size: 14px;
		line-height: 30px;
		display: block;
		padding-top: 25px;
		textarea,
		input[type=text] {
			width: 173px;
			padding: 0 11px;
			color: #3e3e3e;
		}
		.required {
			color: #f99374;
		}
		input {
			height: 26px;
		}
		textarea {
			display: block;
			resize: none;
			height: 152px;
		}
		.submit {
			color: #2f2e2d;
			border: 1px solid #2f2e2d;
			background-color: #fff;
			padding: 0 30px;
		}
	}
}

.overlay {
	position: fixed;
	zoom: 1;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	.modal {
		display: inline-block;
		position: absolute;
		background-color: #fff;
		-webkit-box-shadow: 0px 23px 22px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 23px 22px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 23px 22px 0px rgba(50, 50, 50, 0.75);
	}
}

.request_call {
	width: 512px;
	height: 350px;
	padding: 50px 90px;
	text-align: left;
	h1 {
		margin: 0;
		line-height: 30px;
	}
	label {
		padding-top: 20px;
	}
	.field_wrap {
		padding-top: 35px;
	}
	.first_column {
		float: left;
		width: 200px;
	}
	.textarea_column {
		float: right;
		width: 267px;
		textarea {
			width: 242px;
			height: 188px;
		}
	}
}

.roboto {
	@include font_roboto;
}
.ptsans {
	@include font_ptsans;
}

.container {
	width: 100%;
	border-bottom: 1px solid $container_border;
}
.wrapper {
	width: 860px;
	margin: 0 auto;
}
.header {
	padding-top: 40px;
	padding-bottom: 35px;
	@include font_roboto;

	.top_menu {
		position: relative;
		float: right;
		padding-top: 37px;

		a.menu_i {
			@include d_i;
			z-index: 1;
			font-size: 18px;
			font-weight: 300;
			padding-left: 30px;
			&:hover {
				color: #191919;
			}
			&.icon_menu {
				padding-left: 24px;
				background-image: url(image_path('icon_menu.png'));
				background-repeat: no-repeat;
				background-position: 0 50%;
			}
			&.icon_menu:hover {
				background-image: url(image_path('icon_menu_hover.png'));
			}
			&.contact_us {
				padding: 0 16px;
				border-radius: 13.5px;
				font-size: 14px;
				margin-left: 35px;
				line-height: 27px;
				height: 27px;
				border: 1px solid #8c8c8c;
				&.active {
					border-color: #191919;
					color: #191919;
				}
			}
		}
	}
	.logo {
		@include d_i;
		@include at2x('logo', 'png', 128px, 104px);
		width: 128px;
		height: 104px;
	}
}
.icons_menu {
	position: relative;
	background-image: url(image_path('icons_bkg.png'));
	background-repeat: repeat;
	height: 490px;
	.wrapper {
		padding-top: 8px;
	}
	a {
		@include d_i;
		@include font_roboto;
		width: 140px;
		padding-top: 165px;
		float: left;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		color: #3e3e3e;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
		&.last {
			margin-right: 0;
		}
	}
	.clear {
		padding-top: 30px;
		&.four_icons {
			padding-left: 92px;
		}
	}
}
.main_icon {
	background-repeat: no-repeat;
}
.main_icon_1 {background-image: url(image_path('icons/1.png'));}
.main_icon_1.hover,
.main_icon_1:hover {background-position: -140px 0;}
.main_icon_2 {background-image: url(image_path('icons/2.png'));}
.main_icon_2.hover,
.main_icon_2:hover {background-position: -140px 0;}
.main_icon_3 {background-image: url(image_path('icons/3.png'));}
.main_icon_3.hover,
.main_icon_3:hover {background-position: -140px 0;}
.main_icon_4 {background-image: url(image_path('icons/4.png'));}
.main_icon_4.hover,
.main_icon_4:hover {background-position: -140px 0;}
.main_icon_5 {background-image: url(image_path('icons/5.png'));}
.main_icon_5.hover,
.main_icon_5:hover {background-position: -140px 0;}
.main_icon_6 {background-image: url(image_path('icons/6.png'));}
.main_icon_6.hover,
.main_icon_6:hover {background-position: -140px 0;}
.main_icon_7 {background-image: url(image_path('icons/7.png'));}
.main_icon_7.hover,
.main_icon_7:hover {background-position: -140px 0;}
.main_icon_8 {background-image: url(image_path('icons/8.png'));}
.main_icon_8.hover,
.main_icon_8:hover {background-position: -140px 0;}
.main_icon_9 {background-image: url(image_path('icons/9.png'));}
.main_icon_9.hover,
.main_icon_9:hover {background-position: -140px 0;}
.our_mission {
	@extend .clearfix;
	position: relative;
	padding-bottom: 55px;
	text-align: center;
	background-image: url(image_path('our_mission.jpg'));
	background-repeat: repeat;
	height: 175px;
	h2 {
		@include font_roboto;
		margin: 34px 0 30px;
		font-size: 30px;
		font-weight: 300;
	}
	p {
		@include font_ptsans;
		font-size: 16px;
		color: #3e3e3e;
	}
	.wrapper {
		position: relative;
	}
	.compas {
		position: absolute;
		width: 326px;
		height: 210px;
		top: -14px;
		right: -110px;
		background-image: url(image_path('compas.png'));
		@media (max-width: 1056px) {
			right: 0;
		}
	}
	.our_mission_arrow {
		@include d_i;
		position: absolute;
		width: 25px;
		height: 13px;
		bottom: 32px;
		left: 50%;
		margin-left: -12.5px;
		background-image: url(image_path('our_mission_arrow.png'));
	}
}
.slider {
	@extend .clearfix;
	position: relative;
	overflow: visible;
	.slider_left,
	.slider_right {
		cursor: pointer;
		width: 20px;
		height: 38px;
		position: absolute;
		top: 50%;
		margin-top: -19px;
	}
	.slider_left {
		background-image: url(image_path('slider_left.png'));
		left: -40px;
	}
	.slider_right {
		right: -40px;
		background-image: url(image_path('slider_right.png'));
	}
	.viewport {
		width: 100%;
		overflow: hidden;
		position: relative;
		.overview {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 0;
			top: 0; 
			list-style: none;
		}
		li {
			float: left;
			margin: 0;
			padding: 0;
			height: auto;
			border: none;
			text-align: center;
		}
	}

}
.slides {
	padding: 90px 0 62px;
	.slider {
		.viewport {
			height: 360px;
			li {
				width: 286.7px;
				&#timer_images {
					padding: 0 40px;
					background-image:url(image_path('slides/3.jpg'));
					background-position: 50% 0;
					background-repeat: no-repeat;
					width: 207px;
					height: 364px;
					color: #2f2e2d;
					.w1 {
						@include font_serif;
						font-size: 60px;
						line-height: 60px;
						font-weight: bold;
						margin-top: 111px;
					}
					.w2 {
						@include font_serif;
						font-size: 30px;
						line-height: 30px;
						margin-top: 58px;
					}
					.w3 {
						font-size: 14px;
						@include font_ptsans;
						line-height: 14px;
						margin-top: 26px;
					}
				}
			}
		}
	}
}
.our_partners {
	@extend .clearfix;
	height: 220px;
	text-align: center;
	background-color: #2e2d2c;
	background-image: url(image_path('our_partners.png'));
	background-repeat: repeat-x;
	background-position: 0;
	h2 {
		@include font_roboto;
		margin: 34px 0 30px;
		font-size: 24px;
		color: $text_gray;
		font-weight: 300;
	}
	.slider {
		.slider_left {
			background-image: url(image_path('slider_partners_left.png'));
		}
		.slider_right {
			background-image: url(image_path('slider_partners_right.png'));
		}
		.viewport {
			height: 75px;
			ul {
				width: 9000px;
			}
		}
	}
}
.bk_promo {
	@extend .clearfix;
	padding-top: 55px;
	padding-bottom: 60px;
	text-align: center;
	h2 {
		@include font_roboto;
		margin: 30px 0;
		font-size: 30px;
		color: #949494;
		font-weight: 300;
	}
	.promo_text {
		position: relative;
	}
	.promo_fade {
		background-image: url(image_path('bk_promo_fader.png'));
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
	}
	.slided {
		display: none;
	}
	p {
		@include font_ptsans;
		font-size: 16px;
		margin: 15px 0 0;
	}
	.read_more {
		@include d_i;
		margin-top: 15px;
		font-size: 14px;
		color: #59839e;
		border-bottom: 1px dotted;
		&:hover {
			border-bottom: none;
		}
	}
}
.map {
	position: relative;
	#map {
		height: 400px;
	}
}
.shadow_top,
.shadow_bottom {
	position: absolute;
	height: 18px;
	width: 100%;
	left: 0;
	z-index: 1;
}
.shadow_top {
	background-image: url(image_path('map_shadow_top.png'));
	top: 0;
}
.shadow_bottom {
	background-image: url(image_path('map_shadow_bottom.png'));
	bottom: 0;
}
.footer {
	@extend .clearfix;
	@include font_ptsans;
	padding: 28px 0 25px;
	border-bottom: none;
	color: #888888;
	font-size: 14px;
	.wrapper {
		position: relative;
	}
	a {
		color: #6b7a84;
	}
	.footer_logo {
		float: left;
		width: 72px;
		height: 57px;
	}
	.copy {
		padding-top: 8px;
		float: left;
		padding-left: 30px;
	}
	.site_dev {
		padding-top: 8px;
		float: right;
		text-align: right;
	}
	.up {
		@include d_i;
		background-image: url(image_path('up.png'));
		position: absolute;
		width: 43px;
		height: 43px;
		top: 0;
		margin-top: 5px;
		right: -93px;
		cursor: pointer;
		@media (max-width: 1056px) {
			right: -50px;
		}
	}
}

// inner
.page_title {
	position: relative;
	background-image: url(image_path('page_title.png'));
	background-repeat: repeat-x;
	background-position: top left;
	color: #3e3e3e;
	.wrapper {
		position: relative;
	}
	.title_icon {
		position: absolute;
		img {
			@include d_i;
			width: 62px;
			height: 68px;
			// position: absolute;
			padding: 19px 22px;
		}
	}
	h1 {
		@include font_roboto;
		margin: 0;
		font-size: 30px;
		font-weight: 300;
		height: 105px;
		line-height: 105px;
		padding-left: 120px;
	}
	.path {
		position: absolute;
		background-image: url(image_path('path.png'));
		background-repeat: no-repeat;
		background-position: top left;
		width: 173px;
		height: 105px;
		left: -62.5px;
		top: 0;
	}
}
.page_content {
	@extend .clearfix;
	@include font_ptsans;
	padding: 80px 0;

	.mainbar {
		width: 540px;
		float: left;
		color: #3e3e3e;
		padding-right: 61px;
		border-right: 1px solid #dadada;

		h1, h2, h3, h4, h5, h6 {
			color: #949494;
		}
		p:first-child {
			margin-top: 0;
		}
	}
	.sidebar {
		width: 258px;
		float: right;
		text-align: right;
		border-left: 1px solid #dadada;
		margin-left: -1px;

		.person_desc {
			font-size: 16px;
			color: #3e3e3e;
			margin-bottom: 38px;
			.last_name {
				@include d_i;
				padding-top: 22px;
				font-size: 20px;
			}
			.muted {
				@include d_i;
				padding-top: 9px;
				color: #949494;
			}
		}
		.border {
			width: 308px;
			height: 1px;
			background-color: #dadada;
		}
		.help_form {
			width: 200px;
			float: right;
			padding-top: 53px;
			text-align: left;
			color: #949494;
			h2 {
				margin: 0;
				line-height: 20px;
				font-size: 20px;
				color: #949494;
			}
		}
	}
}
// about
.about {
	color: #3e3e3e;
	font-size: 16px;
	.container {
		padding-bottom: 80px;
	}
	h1, h2, h3 {
		margin: 1em 0;
	}
	h2 {
		color: #949494;
	}
	p {
		margin: 28px 0;
	}
}
.about_img {
	text-align: center;
}
.testimonials {
	padding: 50px 0;
	h1 {
		font-size: 30px;
		line-height: 30px;
		color: #3e3e3e;
		margin: 0 0 52px;
	}
	.testimonial {
		@extend .clearfix;
		position: relative;
		margin: 0 0 82px;
		height: 358px;
		background-image: url(image_path('testimonial.png'));
		background-repeat: no-repeat;
		border: 1px solid #cccccc;
		background-color: #fff;
		&.last {
			margin-bottom: 60px;
		}
		&:before {
			content: ' ';
			position: absolute;
			width: 882px;
			height: 418px;
			left: -12px;
			top: -28px;
			background-image: url(image_path('testimonial_rotated.png'));
			z-index: -1;
		}
		.person {
			float: left;
			padding-top: 70px;
			width: 314px;
			text-align: center;
			.pic {
				height: 125px;
			}
			.name {
				@include font_serif;
				font-size: 24px;
				color: #3e3e3e;
				margin-top: 25px;
			}
			.desc {
				@include font_ptsans;
				font-size: 16px;
				color: #9b9b9b;
				margin-top: 10px;
			}
		}
		.comment {
			@include font_ptsans;
			position: relative;
			float: right;
			width: 414px;
			font-size: 14px;
			color: #787878;
			padding: 70px 65px;
			line-height: 27px;
			.quote_open,
			.quote_close {
				@include font_serif;
				position: absolute;
				font-size: 72px;
				color: #e0e0e0;
			}
			.quote_open {
				left: 20px;
			}
			.quote_close {
				right: 47px;
				bottom: 68px;
			}
		}
		.testimonial_shadow {
			position: absolute;
			background-image: url(image_path('testimonial_shadow.png'));
			background-repeat: no-repeat;
			width: 100%;
			height: 16px;
			bottom: -16px;
			left: 0;
		}
		.testimonial_rotated {
			position: absolute;
			background-image: url(image_path('testimonial_rotated.png'));
			background-repeat: no-repeat;
			width: 100%;
			height: 358px;
		}
	}
	.testimonials_more {
		@include d_i;
		background-image: url(image_path('testimonials_more.png'));
		cursor: pointer;
		width: 54px;
		height: 54px;
	}
}

.contact_us_popup {
	display: none;
	@include font_ptsans;
	position: absolute;
	background-color: #fff;
	border: 1px solid #cccccc;
	border-radius: 14px;
	top: 90px;
	right: 0;
	z-index: 2;
	padding: 30px 42px 16px;
	width: 181px;
	font-size: 14px;
	color: #3e3e3e;
	h3 {
		@include font_roboto;
		font-size: 18px;
		font-weight: 300;
		margin: 0;
		color: #7a7a7a;
	}
	a {
		color: #225f86;
		border-bottom: 1px dashed;
		&:hover,
		&.hover {
			border-bottom: none;
		}
	}
	.contact_us_close {
		@include d_i;
		position: absolute;
		background-image: url(image_path('contact_us_close.png'));
		width: 14px;
		height: 14px;
		top: 28px;
		right: 28px;
		cursor: pointer;
	}
	.contact_us_arrow {
		position: absolute;
		background-image: url(image_path('contact_us_arrow.png'));
		width: 30px;
		height: 16px;
		top: -16px;
		right: 57px;
	}
}

.ymap_baloon {
	@extend .contact_us_popup;
	display: block;
	margin-top: 18px;
	position: static;
	background-color: none;
	border: none;
	width: auto;
	text-align: left;
	.contact_us_close {
		top: 46px;
	}
}