img, div, a {
	behavior: url('/iepngfix.htc');
}
.header {
	.top_menu {
		a {
			&.icon_menu {
				background-position: 24px 6px;
			}
		}
		.contact_us_popup {
			z-index: 3;
		}
	}
}
.our_mission {
	p {
		margin: 15px 0 14px;
	}
}
.page_title {
	zoom: 1;
}